.dragDropContainerIntermediate {
  flex: 0;
  max-width: 320px;
  width: calc(100%);
}



.dragDropContainerIntermediate .landingZoneContainer {
  width: 100%;
  padding: 0 16px;
}
.landingZoneContainer .landingZone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: $durationXS ease-in-out;
  padding: 8px 0;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
  &.inactive {
    opacity: 0.25;
  }
  &[data-item-type='alpha'] .landingPad {
    background-image: url('../images/circle.svg');
  }
  &[data-item-type='beta'] .landingPad {
    background-image: url('../images/triangle.svg');
  }
  &[data-item-type='charlie'] .landingPad {
    background-image: url('../images/square.svg');
  }
  &[data-item-type='delta'] .landingPad {
    background-image: url('../images/hexagon.svg');
  }
}
.landingZoneContainer .landingPad {
  width: 55px;
  height: 55px;
  background-size: cover;
  transition: $durationXS ease-in-out;
  &.inactive {
    opacity: 0.25;
  }
  & + .landingPad {
    margin-left: 16px;
  }
}



.dragDropContainerIntermediate .deliveryZoneContainer {
  border-top: 1px dashed rgb(100,100,100);
  width: 100%;
  overflow: auto;
  margin: 24px 0 0 0;
  display: flex;
  flex-direction: row;
  padding: 24px 0 8px 0;

  justify-content: flex-start;
  &::after {
    display: block;
    content: '';
    flex: 1 0 auto;
    width: 24px;
  }
}
.deliveryZoneContainer .deliveryItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: $boxShadowDefault;
  &:first-of-type {
    margin-left: 24px;
  }
  &.inactive {
    display: none;
  }
  & + .deliveryItems {
    margin-left: 24px;
  }
  &[data-item-type='alpha'] .deliveryItem {
    background-image: url('../images/circle.svg');
  }
  &[data-item-type='beta'] .deliveryItem {
    background-image: url('../images/triangle.svg');
    margin-left: 10px;
  }
  &[data-item-type='charlie'] .deliveryItem {
    background-image: url('../images/square.svg');
  }
  &[data-item-type='delta'] .deliveryItem {
    background-image: url('../images/hexagon.svg');
    & + .deliveryItem {
      margin-left: 10px;
    }
  }
}
.deliveryZoneContainer .deliveryItem {
  width: 77px;
  height: 77px;
  background-size: cover;
  transition: $durationXS ease-in-out;
  &.inactive {
    opacity: 0.25;
  }
  & + .deliveryItem {
    margin-left: 4px;
  }
}