@charset 'utf-8';
@import '_mixins';
@import '_normalize';
@import '_normalizeConfig';
@import '_debugger';
@import '_variables';
@import '_font';
@import '_componentDragDropBasic';

.bodyScrollLock {
  overflow: hidden !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.noTransition {
  transition: none !important;
}